<tr>
  <td><%= link_to category.name, admin_category_path(category) %></td>
  <td>
  <%= link_to edit_admin_category_path(category) do %>
    <i class="fa fa-fw fa-wrench"></i>
  <% end %>
  <%= link_to  admin_category_path(category),
                               method: :delete, style: "color: red",
                               data: {confirm: t("are_you_sure")} do %>
    <i class="fa fa-fw fa-remove"></i>
  <% end %>
  </td>
</tr>
