@import "toastr/toastr";
@import "color";
.required:after{
    content:" *";
    color: $red;
  }
  .btn-wait{
    color: $white;
    background-color: $wait !important;
  }
  .btn-confirmed{
    color: $white;
    background-color: $confirmed !important;
  }
  .btn-shipping{
    color: $white;
    background-color: $shipping !important;
  }
  .btn-delivered{
    color: $white;
    background-color: $delivered !important;
  }
  .btn-rejected{
    color: $white;
    background-color: $rejected !important;
  }
  .btn-returned{
    color: $black;
    background-color: $returned !important;
  }
.re_color{
    color: red !important;
}
.font-site-25{
  font-size: 25px !important;
}